{% load dataset %}
{% get_themes as themes %}
<style>
  .explore-item {
    text-decoration: none;
    border: 8px solid transparent;
    border-radius: var(--rounded);
    transition: 0.1s all;
  }

  .explore-item:hover {
    cursor: pointer;
    color: white;
    background-color: var(--primary);
    font-weight: bold;
    text-align: end;
  }

  .explore-item::after {
    content: ">";
    float: right;
    margin-left: 8px;
  }

  .explore-item > a {
    color: inherit;
    text-decoration: none;
  }
</style>
<div id="explore-dropdown" class="modal-mask">
  <div class="left dropdown">
    <form style="display: flex; justify-content: center;" action="{% url 'search' %}">
      <input type="search" name="q">
      <button><span class="fa fa-search"></span></button>
    </form>
    {% for theme in themes %}
    <div class="explore-item theme{{ forloop.counter }}-dropdown-button">
      {% if theme.image %}
      <img src="{{ theme.image.url }}" alt="" />
      {% endif %}
      {{ theme.name }}
    </div>
    {% endfor %}
  </div>
</div>
{% for theme in themes %}
{% if not theme.hidden %}
<div id="theme{{ forloop.counter }}-dropdown" class="modal-mask">
  <div class="left dropdown">
    <button class="explore-dropdown-button">
      <i class="fas fa-arrow-left"></i>
    </button>
    <h3>{{ theme.name }}</h3>
    <h4>Les plus populaires</h4>
    {% for dataset in theme.popular_datasets %}
    <div class="explore-item">
      <a href="{% url 'dataset' dataset_id=dataset.id %}">
        {{ dataset }}
      </a>
    </div>
    {% endfor %}
    <p>
      <a href="#">Voir plus...</a>
    </p>
  </div>
</div>
{% endif %}
{% endfor %}