<style>
  .modal {
    max-width: var(--modal-width);
    margin: auto;
    background-color: white;
  }
</style>
<div id="login-mask" class="inactive mask">
  <div class="modal">
    <h1>Connexion</h1>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      {{ login_form }}
      <hr>
      <button>Connexion</button>
    </form>
  </div>
  <div class="modal">
    <h1>Inscription</h1>
    <form action="{% url 'signin' %}" method="post">
      {% csrf_token %}
      {{ signin_form }}
      <hr>
      <button>Inscription</button>
    </form>
  </div>
</div>