<div id="profile-mask" class="inactive mask">
  <div class="right dropdown">
    <div>
      {% if user.profile.is_registered %}
      <div>
        <a href="{% url 'profile' username=user.username %}">Mon profil</a>
      </div>
      <div>
        <a href="{% url 'badges:badge_list' %}">Mes badges</a>
      </div>
      <br>
      <a class="button" href="{% url 'log_out' %}?next={{ request.path }}">Déconnexion</a>
      {% else %}
      <button class="login-button">Connexion</button>
      {% endif %}
    </div>
  </div>
</div>