<div id="profile-dropdown" class="modal-mask">
  <div class="right dropdown">
    <div>
      {% if user.is_authenticated %}
      <div>
        <a href="{% url 'profil' username=user.username %}">Mon profil</a>
      </div>
      <div>
        <a href="{% url 'profil' username=user.username %}">Mes badges</a>
      </div>
      <br>
      <a class="button" href="{% url 'log_out' %}?next={{ request.path }}">Déconnexion</a>
      {% else %}
      <button class="login-modal-button">Connexion</button>
      {% endif %}
    </div>
  </div>
</div>