{% extends 'base.html' %}
{% load static question dataset_tags %}

{% block title %}Profil{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock %}

{% block modals %}
  {% if form %}
    <div id="profile-modal" class="modal-mask center">
      <div class="modal">
        <form action="{% url 'profile' username=user.username %}" method="post">
          {% csrf_token %}
          {{ form }}
          <hr>
          <button type="submit">Modifier</button>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block main %}
  <h1>Profil</h1>
  <h2>{{ profile.name }}</h2>
  <div class="profile">
    <div>
      <img src="https://picsum.photos/128" alt="Photo de profil" class="rounded avatar">
    </div>
    <p class="card bio">
      {{ profile.description|default:"Cet utilisateur n'a pas encore de description." }}
    </p>
  </div>
  <div>
    {{ profile.rank }} ({{ profile.score }} points)
  </div>
  {% if profile == user.profile %}
    {% if form %}
      <button class="profile-modal-button">Modifier</button>
    {% endif %}
  {% endif %}

  {% with count=profile.user.badges_earned.count %}
    <h2>{{ count }} badge{{ count|pluralize }} obtenu{{ count|pluralize }}</h2>
  {% endwith %}
  <div class="card">
    {% for badge in last_badges %}
      <span class="badge" data-tooltip="{{ badge.name }}">
        <img src="{{ badge.image }}" alt="Badge">
      </span>
    {% empty %}
      <i>Cet utilisateur n'a pas encore de badges.</i>
    {% endfor %}
  </div>
  <a href="{% url 'pinax_badges:badge_list' profile.user.username %}">Voir plus...</a>

  {% with count=profile.theme_subscriptions.count %}
    <h2>{{ count }} abonnement{{ count|pluralize }}</h2>
  {% endwith %}
  <div class="datasets card">
    {# TODO: refactor 'datasets' and 'dataset' classes #}
    {% for theme in profile.theme_subscriptions.all %}
      <a
        class="dataset button"
        href="{% url 'theme' theme_id=theme.id %}"
      >
        <span
          class="svg image"
          data-src="{{ theme.image.url }}"
          data-color="currentColor"
        ></span>
        {{ theme.name }}
      </a>
    {% empty %}
      <i>Cet utilisateur ne s'est pas encore abonné.</i>
    {% endfor %}
  </div>

  {% with count=profile.liked_datasets.count %}
    <h2>{{ count }} jeu{{ count|pluralize:'x' }} de données aimé{{ count|pluralize }}</h2>
    <div class="card">
      {% if count > 0 %}
        {% show_datasets profile.liked_datasets.all %}
      {% else %}
        <i>Cet utilisateur n'a pas encore aimé de jeux de données.</i>
      {% endif %}
    </div>
  {% endwith %}

  <h2>Dernières questions et réponses</h2>
  {% for content in last_contents %}
    {% if content.question %}
      {% question_card content.question user %}
    {% elif content.answer %}
      {% answer_card content.answer user %}
    {% endif %}
  {% empty %}
    <p class="card">
      <i>Cet utilisateur n'a rien posté.</i>
    </p>
  {% endfor %}
{% endblock %}
