/* Dataset carousel */
.carousel-cell {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 256px;
  margin: 8px;
  padding: 16px;
  border-radius: 32px;
  background-color: white;
}

.carousel-cell > .image {
  width: 128px;
  height: 128px;
  margin: auto;
}

.carousel-cell > .title {
  text-align: center;
  font-weight: bold;
}
