:root {
  --page-width: 700px;
  --primary: #0e2240;
  --secondary: #e0e2e6;
  --rounded: 4px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  padding: 8px;
  color: white;
  background-color: var(--primary);
}

nav > a {
  margin-left: 16px;
  color: inherit;
  text-decoration: unset;
}

main {
  max-width: var(--page-width);
  margin: auto;
  padding: 0 16px;
}

button {
  padding: 4px 16px;
  border: 4px solid var(--primary);
  border-radius: var(--rounded);
  color: white;
  background-color: var(--primary);
  font-weight: bold;
}

button:hover {
  color: black;
  background-color: transparent;
  cursor: pointer;
}

.card {
  padding: 16px;
  background-color: var(--secondary);
  border-radius: var(--rounded);
}

.centered {
  text-align: center;
}

.rounded {
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  .responsive {
    flex-direction: column;
  }
}
