/* Constants */
:root {
  --page-width: 700px;
  --modal-width: 500px;
  --primary: #0e2240;
  --secondary: #e0e2e6;
  --error: #e02b13;
  --rounded: 6px;
  --intro-duration: 0.3s;
  --intro-order: 0;
  --intro-delay: 0.1s;
}

/* Remove unwanted margin,
 * use border-box (see https://css-tricks.com/box-sizing/),
 * and set default fonts for different OSes. */
body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Global look and feel */
main {
  max-width: var(--page-width);
  margin: auto;
  padding: 16px;
}

input {
  padding: 4pt;
  border: 1px solid var(--primary);
  border-radius: var(--rounded);
  font: inherit;
  font-size: large;
}

input[type="text"], input[type="password"], button[type="submit"] {
  width: 100%;
}

button, .button {
  padding: 4px 16px;
  border: 4px solid var(--primary);
  border-radius: var(--rounded);
  color: white;
  background-color: var(--primary);
  font: inherit;
  font-weight: bold;
}

button:hover, .button:hover {
  color: currentColor;
  background-color: transparent;
  cursor: pointer;
}

.card {
  padding: 16px;
  border-radius: var(--rounded);
  background-color: var(--secondary);
}

.errorlist {
  padding: 8px 32px;
  color: white;
  background-color: var(--error);
  border: 3px solid var(-error);
  border-radius: var(--rounded);
  font-weight: bold;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  padding: 8px;
  color: white;
  background-color: var(--primary);
}

nav > * + * {
  margin-left: 16px;
}

nav > .separator {
  flex: 1;
}

nav a {
  color: inherit;
  text-decoration: unset;
}

nav button, nav .button {
  color: var(--primary);
  background-color: white;
  border-color: white;
}

.clickable {
  cursor: pointer;
}

/* Modals and drop-downs */
.mask {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.mask.inactive {
  display: none !important;
}

.mask > * {
  animation-name: intro;
  animation-duration: var(--intro-duration);
}

.modal, .dropdown {
  max-width: var(--modal-width);
  margin: 0 32px;
  padding: 32px;
  background-color: white;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Fade-in animation */
main > * {
  opacity: 0;
  animation-name: intro;
  animation-duration: var(--intro-duration);
  animation-fill-mode: forwards;
  animation-delay: calc(var(--intro-order) * var(--intro-delay));
}

@keyframes intro {
  from { opacity: 0; transform: translate(-64px, 32px); }
  to { opacity: 1; }
}
