/* Grid layout on big screens */
@media screen and (min-width: 1400px) {
  main {
    --page-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}

/* Themes */
.pills {
  display: flex;
  flex-wrap: wrap;
}

.pills > * {
  margin: 2px;
  padding: 2px 6px;
  border: 8px solid var(--secondary);
  border-radius: 64px;
  background-color: var(--secondary);
  font-weight: bold;
  transition: all .1s;
}

.pills > *:hover {
  color: white;
  background-color: var(--primary);
  border-color: var(--primary);
}

.pills a {
  color: inherit;
  text-decoration: inherit;
}
