/* Grid layout on big screens */
@media screen and (min-width: 1400px) {
  main {
    --page-width: 1400px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    column-gap: 32px;
  }
}

/* Theme bubbles */
.bubble-icon {
  font-size: 24pt;
}

/* Dataset carousel */
.carousel-cell {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 256px;
  margin: 8px;
  padding: 16px;
  border-radius: 32px;
  background-color: white;
}

.carousel-cell > .image {
  width: 128px;
  height: 128px;
  margin: auto;
}

.carousel-cell > .title {
  text-align: center;
  font-weight: bold;
}

.carousel-cell > .reason {
  font-style: italic;
  text-align: center;
}
