.profile {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 16px;
}

.bio {
  width: 100%;
}

.badge > img {
  width: 64px;
  height: 64px;
}

.message {
  margin-bottom: 24px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-size: smaller;
}

.rounded {
  border-radius: 100%;
}
