.profile {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .profile {
    flex-direction: column;
  }
}

.avatar {
  margin-right: 16px;
}

.bio {
  width: 100%;
}

.badge > img {
  width: 64px;
  height: 64px;
}

.rounded {
  border-radius: 50%;
}
