.quizzes > * {
  animation-name: intro;
  animation-duration: var(--intro-duration);
}

.quizzes > * + * {
  margin-top: 16px;
}

input[type="checkbox"], input[type="radio"] {
  display: none;
}

.quiz-choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkable {
  display: inline-block;
  margin: 8px;
  padding: 4px 32px;
  background-color: white;
  border-radius: var(--rounded);
  cursor: pointer;
  font-size: 1.6em;
}

input:checked ~ .checkable {
  color: white;
  background-color: var(--primary);
  font-weight: bold;
}

.checkable:hover {
  filter: brightness(0.7);
}

.checkable.checked.correct, .checkable.missing {
  color: white;
  background-color: #4caf50;
  font-weight: bold;
}

.checkable.checked.incorrect {
  color: white;
  background-color: #e02b13;
  font-weight: bold;
}
