.theme-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 16px;
}

@media screen and (max-width: 600px) {
  .theme-header {
    flex-direction: column;
  }
}

.theme-header > .image {
  width: 160px;
  height: 160px;
}

.theme-datasets {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 16px;
}

@media screen and (min-width: 600px) {
  .theme-datasets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.theme-dataset > * + * {
  margin-top: 16px;
}

.theme-dataset > .title {
  font-size: x-large;
}

.theme-dataset > :not(.title) {
  font-weight: normal;
}

.theme-dataset > .stats {
  display: flex;
  justify-content: center;
  gap: 16px;
}
