{% load quiz_tags %}
<div class="card">
  <div>
    <h1>
      <i>{{ quiz.title }}</i>
    </h1>
    <p>
      {% if quiz.perfect_score_rate == 0 %}
      <b>Aucun utilisateur</b> n'a
      {% else %}
      <b>{{ quiz.perfect_score_rate|floatformat:0 }}% des utilisateurs</b> ont
      {% endif %}
      correctement répondu à ce quiz. Mettez vos connaissances à l'épreuve !
      {% if quiz.dataset.id %}
      Aucune idée ? N'hésitez pas à explorer
      <a href="{% url 'dataset' dataset_id=quiz.dataset.id %}?origin=quiz" target="_blank">
        le jeu de données source
      </a> !
      {% endif %}
    </p>
  </div>
  <form class="quiz-form" data-quiz-id="{{ quiz.id }}">
    {% csrf_token %}
    {% if quiz.questions.count > 1 %}
    <div class="main-carousel card"
    data-flickity='{ "draggable": false, "autoPlay": false, "wrapAround": false }'>
    {% endif %}
      {% for field in form %}
      <div class="caroucel-cell carousel-quiz-cell">
        <h2 class="title">{{ field.label }}</h2>
        <div class="quiz-choices" data-number="{{ forloop.counter0 }}">
          {% for value, label, checked, state in field.field.choices|to_list|shuffle %}
          <label>
            {% if submittable %}
            <input
              type="radio"
              name="{{ field.auto_id }}"
              value="{{ value }}"
              {% if checked %}checked{% endif %}
            >
            {% endif %}
            <span class="checkable {{ state }} {% if not submittable and checked %}checked{% endif %}">
              {{ label }}
            </span>
          </label>
          {{ field.errors }}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    {% if quiz.questions.count > 1 %}
    </div> <!-- close carousel -->
    {% endif %}
    {% if submittable %}
    <p>
      <button type="submit">Répondre</button>
    </p>
    {% endif %}
  </form>
</div>