{% extends 'base.html' %}
{% load static quiz_tags %}

{% block title %}Quiz de la semaine{% endblock %}

{% block head %}
  <script type="module" src="{% static 'js/quiz.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
{% endblock %}

{% block main %}
  <div class="breadcrumbs">
    <a href="{% url 'home' %}">Accueil <i class="fas fa-home"></i></a>
    <a href="{% url 'quizzes' %}">Quiz de la semaine <i class="fas fa-question"></i></a>
  </div>
  <h1>Quiz de la semaine</h1>
  <div class="quizzes">
  {% for quiz in quizzes %}
  {% show_quiz quiz %}
  {% empty %}
  <p>Aucun quiz...</p>
  {% endfor %}
  </div>
{% endblock %}
