{% load question %}
<section>
  <h2>Questions des citoyens</h2>
  <div class="card">
    {% for question in questions %}
    {% question_card question user %}
    {% empty %}
    Aucune question...
    {% endfor %}
  </div>
  {% if user.profile.is_registered %}
    <h3>Posez votre question</h3>
    <form style="display: flex; justify-content: center;" id="add-question-form">
      {% csrf_token %}
      <label>
        <textarea name="content"></textarea>
      </label>
      <button><span class="fas fa-comment-medical"></span></button>
    </form>
  {% endif %}
</section>

{# TODO: peut être faire un script ? #}
<script>

  const addQuestionForm = document.querySelector('#add-question-form');
  addQuestionForm.addEventListener('submit', async event => {
    event.preventDefault();

    const response = await fetch("{% url "add-question" %}", {
      method: 'POST',
      body: new URLSearchParams(new FormData(addQuestionForm)),
      headers: new Headers({'X-CSRFToken': '{{ csrf_token }}'}),
    });

    const questionSection = document.querySelector('#questions-modal');
    if (response.ok) {
      questionModal.querySelector('.modal').innerHTML = await response.text();
    }
  });

</script>
