{% load question %}

<section style="grid-area: 1 / 3 / span 2 / span 1;">
  <h2>Questions des citoyens</h2>
  <div id="questions-list">
    {% questions_list questions %}
  </div>
  {% if user.profile.is_registered %}
    <h3>Posez votre question</h3>
    <form style="display: flex; justify-content: center;" id="add-question-form" data-url="{% url 'add-question' %}">
      {% csrf_token %}
      <label>
        <textarea name="content"></textarea>
      </label>
      <button><span class="fas fa-comment-medical"></span></button>
    </form>
  {% endif %}
</section>
