{% load static %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>OpenData | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="{% static 'js/login.js' %}"></script>
    <script defer src="{% static 'js/fade-in.js' %}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'login.html' %}
    {% block body %}{% endblock %}
  </body>
</html>