{% load static %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>OpenData | {% block title %}{% endblock %}</title>

    {# CSS #}
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'fa-5.15.3/css/all.min.css' %}">

    {# JavaScript #}
    <script type="module" src="{% static 'js/base.js' %}"></script>
    <script type="module" src="{% static 'js/notifications.js' %}"></script>

    {% block head %}{% endblock %}
  </head>
  <body>
    {# Popups #}
    {% include 'popups/notifications.html' %}
    {% block popups %}{% endblock %}

    {# Modals #}
    {% include 'modals/login.html' %}
    {% block modals %}{% endblock %}

    {# Navbar #}
    <header>
      {% include 'navbar.html' %}
    </header>

    {# Dropdowns #}
    {% include 'dropdowns/explore.html' %}
    {% include 'dropdowns/notifications.html' %}
    {% include 'dropdowns/profile.html' %}
    {% block dropdowns %}{% endblock %}

    {# Main content #}
    <main>
      {% block main %}{% endblock %}
    </main>
  </body>
</html>
