{% extends 'base.html' %}
{% load static %}
{% block title %}Accueil{% endblock %}
{% block head %}
{#    <script defer src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>#}
{#    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">#}
    <style>
        .carousel-cell {
            width: 300px;
            height: 200px;
        }
    </style>
{% endblock %}
{% block body %}
    <header>
        {% include 'navbar.html' %}
    </header>
    <main>
        <h1>Accueil</h1>
        <h2>Des données (vraiment) ouvertes !</h2>
        <p>
            La ville de Namur met à disposition de toutes et tous une série
            d'informations d'intérêt général. Ces informations sont soit des
            statistiques, consultables en ligne, soit des lots de données qui
            peuvent être utilisées directement dans la création d'application.
        </p>
        <p>
            Quel que soit votre secteur d'activité, notre nouveau jeu de données va
            vous intéresser !
        </p>
        <h2>Données à l'honneur</h2>
        <div class="main-carousel card" data-flickity='{ "lazyLoad": 1, "autoPlay": 5000 }'>
            {% for dataset in featured_datasets %}
                <div class="carousel-cell">
                    <img src="{% get_static_prefix %}images/categories/{{ dataset.logo }}.svg"
                         alt="Logo {{ dataset.theme }}"/>
                    <span class="carousel-cell-title">{{ dataset.title }}</span>
                </div>
            {% endfor %}
        </div>
        <h2>Question du jour</h2>
        <div class="centered card">
            <div>
                <p><i>"Namur, commune fortifiée ?"</i></p>
                <h3>Combien de forts trouve-t-on sur la commune de Namur ?</h3>
                <p>42% des utilisateurs ont bien répondu à cette question, ferez-vous partie de l'élite ?</p>
            </div>
            <form action="{% url 'quiz' %}" method="post">
                {% csrf_token %}
                <button name="response" value="0">4</button>
                <button name="response" value="1">5</button>
                <button name="response" value="2">6</button>
                <button name="response" value="3">7</button>
            </form>
        </div>
    </main>
{% endblock %}