{% extends 'base.html' %}
{% load static quiz %}
{% block title %}Accueil{% endblock %}
{% block head %}
  <script defer src="{% static 'js/quiz.js' %}"></script>
  <script defer src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <style>
    @media screen and (min-width: 1200px) {
      main {
        --page-width: 80%;
        column-count: 2;
      }

      main > h1 {
        column-span: all;
      }

      main > section {
        break-inside: avoid;
      }
    }

    .pills {
      display: flex;
      flex-wrap: wrap;
    }

    .pills > * {
      margin: 2px;
      padding: 2px 6px;
      border: 8px solid var(--secondary);
      border-radius: 64px;
      background-color: var(--secondary);
      font-weight: bold;
      transition: all .1s;
    }

    .pills > *:hover {
      color: white;
      background-color: var(--primary);
      border-color: var(--primary);
    }

    .pills a {
      color: inherit;
      text-decoration: inherit;
    }

    .carousel-cell {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 384px;
      height: 256px;
      margin: 0 10px;
      padding: 10px;
      border-radius: 32px;
      color: inherit;
      background-color: ghostwhite;
      text-decoration: none;
    }

    .carousel-cell-img {
      width: 128px;
      height: 128px;
      margin: auto;
    }

    .carousel-cell-title {
      text-align: center;
      font-weight: bold;
    }
  </style>
{% endblock %}
{% block main %}
  <h1>Accueil</h1>
  <section>
    <h2>Open data ? Qu'est-ce que c'est ?</h2>
    <p>
      La ville de Namur met à disposition de toutes et tous une série
      d'informations d'intérêt général. Ces informations sont soit des
      statistiques, consultables en ligne, soit des lots de données qui
      peuvent être utilisés directement dans la création d'application.
    </p>
    <p>
      Si vous êtes débutants dans l'open data, ce site est fait pour vous ! Il a été conçu pour répondre aux besoins
      d'utilisateurs non-experts afin de les guider de manière ludique dans l'exploration des jeux de données.
    </p>
    <p>
      Si, au contraire, vous êtes un utilisateur aguerri de l'open data, vous pouvez directement vous rendre sur
      <a href="https://data.namur.be/pages/accueil/">le site open data de la ville de Namur</a> destiné aux experts.
    </p>
    <p>
      Quel que soit votre secteur d'activité, notre nouveau jeu de données va vous intéresser !
    </p>
  </section>
  <section>
    <h2>Explorer</h2>
    <div class="pills">
      {% for theme in themes %}
      <a href="#">
        {% if theme.icon %}
        <span>{{ theme.icon }}</span>
        {% endif %}
        <span>{{ theme.name }}</span>
      </a>
      {% endfor %}
    </div>
  </section>
  <section>
    <h2>Données à l'honneur</h2>
    {# TODO: Peut être faire un tag data_carroussel ?? #}
    <div class="main-carousel card" data-flickity='{ "lazyLoad": 1, "autoPlay": 5000, "wrapAround": true }'>
      {% for dataset in featured_datasets %}
      <a class="carousel-cell" href="{% url 'dataset' dataset_id=dataset.id %}">
        {% if dataset.theme.image %}
        <span class="carousel-cell-img svg" style="--image-src: url({{ dataset.theme.image.url }}); --image-color: {{ dataset.theme.color }};"></span>
        {% endif %}
        <span class="carousel-cell-title">{{ dataset.multiline_title }}</span>
      </a>
      {% endfor %}
    </div>
  </section>
  <section>
    <h2>Quiz du jour</h2>
    {% show_quiz today_quiz user %}
  </section>
{% endblock %}