{% extends 'base.html' %}
{% load static %}

{% block title %}Accueil{% endblock %}

{% block head %}
  <script type="module" src="{% static 'js/quiz.js' %}"></script>
  <script defer src="{% static 'flickity-2.2.2/flickity.pkgd.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
  <link rel="stylesheet" href="{% static 'flickity-2.2.2/flickity.min.css' %}">
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <style>
    .highcharts-figure, .highcharts-data-table table {
      min-width: 320px;
      max-width: 800px;
      margin: 1em auto;
    }

    .highcharts-data-table table {
      font-family: Verdana, sans-serif;
      border-collapse: collapse;
      border: 1px solid #EBEBEB;
      margin: 10px auto;
      text-align: center;
      width: 100%;
      max-width: 500px;
    }

    .highcharts-data-table caption {
      padding: 1em 0;
      font-size: 1.2em;
      color: #555;
    }

    .highcharts-data-table th {
      font-weight: 600;
      padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
      padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
      background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
      background: #f1f7ff;
    }

    #theme-section {
      grid-row-end: span 2;
    }
  </style>
{% endblock %}

{% block main %}
  {% include 'home/about.html' %}
  {#% include 'home/themes.html' with themes=themes %#}
  <section id="theme-section">
    <h2>Explorer</h2>
    <figure class="highcharts-figure">
      <div id="container"></div>
    </figure>
  </section>
  {% include 'home/datasets.html' with datasets=featured_datasets %}
  {% include 'home/quiz.html' with quiz=today_quiz %}
  {% include 'home/questions.html' with questions=last_questions %}
  <script>
    Highcharts.chart('container', {
      chart: {
        type: 'packedbubble',
        height: '100%',
      },
      title: {
        text: 'Jeux de données les plus appréciés',
      },
      tooltip: {
        useHTML: true,
        pointFormat: "<b>{point.name}:</b> {point.value} j'aime",
      },
      plotOptions: {
        packedbubble: {
          minSize: '30%',
          maxSize: '120%',
          zMin: 0,
          zMax: 1000,
          layoutAlgorithm: {
            splitSeries: true,
            gravitationalConstant: 0.02,
          },
          dataLabels: {
            enabled: true,
            format: '{point.name}',
            filter: {
              property: 'y',
              operator: '>',
              value: 250,
            },
            style: {
              color: 'black',
              textOutline: 'none',
              fontWeight: 'normal',
            },
          },
        },
      },
      series: [
        {% for theme in themes %}
          {
            name: '{{ theme.name }}',
            color: '{{ theme.color }}',
            data: [
              {% for dataset in theme.datasets.all %}
                {
                  name: '{{ dataset.title }}',
                  value: {{dataset.popularity_score}},
                },
              {% endfor %}
            ]
          },
        {% endfor %}
      ]
    });
  </script>
{% endblock %}
