{% load static %}
<div class="navbar">
  <div class="logo">
    <img src="{% static 'images/logo.png' %}" alt="OpenData" >
  </div>
  <a href="#home">Accueil</a>
  <div class="dropdown">
    <button class="dropbtn">Explorer
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  <div class="topnav-right">
    <a href="#">Forum</a>
    <a href="#"><i class="fa fa-fw fa-user"></i></a>
  </div>
</div>