{% load static %}
<nav class="responsive">
  <img src="{% static 'images/logo.png' %}" alt="OpenData">
  <a href="{% url 'home' %}">
    Accueil
    <span class="fa fa-home"></span>
  </a>
  <a href="{% url 'quiz' %}">
    Quiz
    <span class="fa fa-question"></span>
  </a>
  <a href="{% url 'forum' %}">
    Forum
    <span class="fa fa-star"></span>
  </a>
  <a href="{% url 'profile' %}">
    Profil
    <span class="fa fa-user"></span>
  </a>
  {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">
      Déconnexion
      <span class="fa fa-sign-out"></span>
    </a>
  {% else %}
    <a href="{% url 'login' %}">
      Connexion
      <span class="fa fa-sign-in"></span>
    </a>
  {% endif %}
</nav>