{% extends 'base.html' %}
{% load static %}
{% block title %}Profil{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block body %}
  <header>
    {% include 'navbar.html' %}
  </header>
  <main>
    <h1>Profile</h1>
    <h2>JeanPierrePolnareff</h2>
    <div class="responsive profile">
      <div>
        <img
          src="https://picsum.photos/128"
          alt="Photo de profil"
          class="rounded avatar"
        >
      </div>
      <div>
        <p class="card">
          Et empêche de se concentrer sur la mise en page elle-même. L'avantage
          du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du
          texte.' est qu'il possède une distribution de lettres plus ou moins.
          <br>Facebook : https://www.facebook.com/jean.pierre/
          <br>Instagram : @jean.pierre
        </p>
      </div>
    </div>
    <h2>Badges</h2>
    <div class="card">
      <img src="https://picsum.photos/64?random=0" alt="Badge" class="rounded">
      <img src="https://picsum.photos/64?random=1" alt="Badge" class="rounded">
      <img src="https://picsum.photos/64?random=2" alt="Badge" class="rounded">
      <img src="https://picsum.photos/64?random=3" alt="Badge" class="rounded">
      <img src="https://picsum.photos/64?random=4" alt="Badge" class="rounded">
      <img src="https://picsum.photos/64?random=5" alt="Badge" class="rounded">
      <img src="https://picsum.photos/64?random=6" alt="Badge" class="rounded">
      <img src="https://picsum.photos/64?random=7" alt="Badge" class="rounded">
      <img src="https://picsum.photos/64?random=8" alt="Badge" class="rounded">
      <img src="https://picsum.photos/64?random=9" alt="Badge" class="rounded">
    </div>
    <h2>Derniers messages du forum</h2>
    <div class="card">
      <div class="message">
        <div class="message-header">
          <span>29 mars à 20:47</span>
          <a href="#">Voir dans son contexte</a>
        </div>
        <div>
          Contrairement à une opinion répandue, le Lorem Ipsum n'est pas
          simplement du texte aléatoire. Il trouve ses racines dans une oeuvre
          de la littérature latine classique datant de 45 av. J.-C., le
          rendant vieux de 2000 ans.
        </div>
      </div>
      <div class="message">
        <div class="message-header">
          <span>26 mars à 12:12</span>
          <a href="#">Voir dans son contexte</a>
        </div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </div>
      </div>
      <div class="message">
        <div class="message-header">
          <span>12 février à 10:50</span>
          <a href="#">Voir dans son contexte</a>
        </div>
        <div>
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness.
        </div>
      </div>
      <a href="#">Voir plus...</a>
    </div>
  </main>
{% endblock %}