{% extends 'base.html' %}
{% load static %}
{% block title %}Quiz{% endblock %}
{% block body %}
  <header>
    {% include 'navbar.html' %}
  </header>
  <main>
    {% include 'quiz/quizzes.html' %}
{#    <h1>Quiz</h1>#}
{#    <div class="centered card">#}
{#      <div>#}
{#        <p><i>"Namur, commune fortifiée ?"</i></p>#}
{#        <h3>Combien de forts trouve-t-on sur la commune de Namur ?</h3>#}
{#        <p>42% des utilisateurs ont bien répondu à cette question, ferez-vous partie de l'élite ?</p>#}
{#      </div>#}
{#      <form action="{% url 'quiz' %}" method="post">#}
{#        {% csrf_token %}#}
{#        <button name="response" value="0">4</button>#}
{#        <button name="response" value="1">5</button>#}
{#        <button name="response" value="2">6</button>#}
{#        <button name="response" value="3">7</button>#}
{#      </form>#}
{#    </div>#}
  </main>
{% endblock %}